---
//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: "id,title,createdAt,updatedAt,category" });


// 日付データをフォーマットする関数
function formatDate(isoDate) {
  const date = new Date(isoDate);
  return date.toLocaleDateString('ja-JP');
}
---

<style>
  .card-posts__item {
    list-style: none;
    border-bottom: 1px solid #fbe481;
  }
</style>

{
  response.contents.map((content: any) => (
    <ul class="card-posts">
      <li class="card-posts__item">
        <div class="card-posts__header">
          <p>公開日：{formatDate(content.createdAt)}更新日{formatDate(content.updatedAt)}</p>
        </div>
        <div class="card-posts__title">
          <a href={content.id}>{content.title}</a>
        </div>
        <ul class="card-posts__tag-list">
          {content.category && content.category.map((category: any) => (
            <li class="card-posts__tag">{category.name}</li>
          ))}
        </ul>
      </li>
    </ul>
  ))
}